name: Build Status

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Prework
      run: touch pyproject.toml

    - name: Setup Python
      uses: actions-ext/python/setup@main
      with:
        version: '3.11'

    - name: Setup cibuildwheel
      uses: actions-ext/python/setup-cibuildwheel@main
      with:
        version: '3.11'

    - name: Setup cibuildwheel caching
      uses: actions-ext/python/setup-cibuildwheel-cache@main
